## Minimal sample pound.cfg
##
## see pound(8) for details


######################################################################
## global options:

#RootJail       /chroot/pound

## allow PUT and DELETE also (by default only GET, POST and HEAD)?:

## Logging: (goes to syslog by default)
##      0       no logging
##      1       normal
##      2       extended
##      3       Apache-style (common log format)
LogLevel        3

## check backend every X secs:
Alive           30

## use hardware-accelleration card supported by openssl(1):
#SSLEngine      <hw>


######################################################################
## listen, redirect and ... to:

## redirect all requests on port 8888 ("ListenHTTP") to the local webserver see "UrlGroup" below):
ListenHTTP 0.0.0.0,80
	
UrlGroup "(.*/(images|stylesheets|javascripts|sitemap|favicon|)/.*|.*txt|.*php|.*css|.*png|.*jpg|.*gif|.*ico|.*xml|.*js|.*html)"
BackEnd 127.0.0.1,3001,1
EndGroup

UrlGroup ".*"
BackEnd 127.0.0.1,2001,1
Session BASIC 300
EndGroup
